*{
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
p{
    font-family: "Calibri", sans-serif;
    margin: 100px;
}
h1{
    margin: 30px;
}
.box-section{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
a{
    color: #000 !important;
    text-decoration: none;
    font-size: 120px;
}
#page\ 1{
    background-color: brown;
}
#page\ 2{
    background-color: aqua;
}
#page\ 3{
    background-color: chartreuse;
}