body{
    margin: 0;
}

.fv{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(image4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.block1{
    background-color: #FAF9F7;
    height: 393px;
    width: 529px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.txt1{
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: KoHo, sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.txt2{
    color: #000;
    font-family: KoHo, sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.btn1{
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: KoHo, sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 20px;
    width: 409px;
    height: 76px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid rgba(156, 152, 152, 0.10);
    background: rgba(217, 217, 217, 0.60);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn2{
    color: #6B6666;
    font-family: KoHo, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 20px;
    width: 409px;
    height: 76px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid rgba(156, 152, 152, 0.10);
    background: rgba(217, 217, 217, 0.60);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sv{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(Rectangle4.png); /* Замініть 'your-image.jpg' на посилання на ваше зображення */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.tv{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-image: url(Rectangle4.png); /* Замініть 'your-image.jpg' на посилання на ваше зображення */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.block3_1{
    width: 453.6px;
    height: 700px;
    flex-shrink: 0;
    background: rgba(83, 83, 83, 0.40);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

